.main {
  animation: loadMain .5s forwards;
}

.logoIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/Logo.png);
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -200%);
}

@media (max-width: 910px) {
  .title {
    font-weight: 600;
    font-size: 1.15rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -160%);
  }
}

@keyframes loadMain {
  0% { opacity: 0; }
  100% { opacity: 1; }
}